body {
    background-color: #f7f5f2;
    
}

.marge {
    margin-bottom: 4em;
}

.shrikhand {
    font-family: 'Sansita Swashed'!important;
    font-size: 50px;
    font-weight: 800!important;
}

.darkbrown {
    color: #3c3424; 
}

.darkbrown:hover {
    color:#746446;
}

.ultralightbrown{ 
    background-color: rgba(222,228,211, 0.2)!important;
}

.sepia {
    filter: sepia(0.65)
}

a {
    font-size: 1.3em;
    text-decoration: none;
    color: #3c3424;
    transition: 0.25s linear;
}

a:hover {
    color:#746446;
}

.card-body a:hover {
    color:#bcad91;
}

.link {
    font-size: 1em;
}

.heightProductBox {
    height: 100%;
}

.width100 {
    width: 100%;
    display: block;
}

hr {
    height: 3px!important;
}

#supprimer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#supprimer p {
    margin: 0;
}

#total {
    display: flex;
    justify-content: flex-end;
}

#totalPrice {
    font-size: calc(1.325rem + .9vw);
    padding-left: 20px;
}

.totalText {
    font-size: calc(1.325rem + .9vw);
    font-weight: 600;
}

.valid {
    min-height:100%;
    margin:0 auto;
    position:relative;
}

.validationFooter {
    position:absolute;
    bottom:0;
    width:100%;
    }

@media screen and (min-width: 992px) {
    .validationFooterMobile {
        position:absolute;
        bottom:0;
        width:100%;
        }
}