body {
    background-color: #f7f5f2;
}

.marge {
    margin-bottom: 4em;
}

.shrikhand {
    font-family: 'Shrikhand'!important;
}

.darkbrown {
    color: #3c3424; 
}

.ultralightbrown{ 
    background-color: rgba(222,228,211, 0.2)!important;
}

.sepia {
    filter: sepia(0.65)
}

a {
    font-size: 1.3em;
}

.link {
    font-size: 1em;
}

.heightProductBox {
    height: 100%;
}

.width100 {
    width: 100%;
    display: block;
}