body {
    background-color: #f7f5f2;
}

.marge {
    margin-bottom: 4em;
}

.shrikhand {
    font-family: 'Sansita Swashed'!important;
    font-size: 50px;
    font-weight: 800!important;
}

.darkbrown {
    color: #3c3424; 
}

.ultralightbrown{ 
    background-color: rgba(222,228,211, 0.2)!important;
}

.sepia {
    filter: sepia(0.65)
}

a {
    font-size: 1.3em;
}

.link {
    font-size: 1em;
}

.heightProductBox {
    height: 100%;
}

.width100 {
    width: 100%;
    display: block;
}

hr {
    height: 3px!important;
}

#supprimer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#supprimer p {
    margin: 0;
}

#total {
    display: flex;
    justify-content: flex-end;
}

#totalPrice {
    font-size: 27px;
    padding-left: 20px;
}

